*
!.gitignore
!README.md
!/assets/
!/assets/*

!/*/src/
!/*/src/**
!/*/gradle/
!/*/gradle/gradle-wrapper.properties
!/*/build.gradle
!/*/gradle.properties
!/*/gradlew
!/*/gradlew.bat
!/*/LICENSE
!/*/settings.gradle
!/*/ 
